.carousel-arrows {
  @include center('vertical');
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  width: 100%;
  padding: 0 2%;

  &__arrow {
    // color: $white;
    cursor: pointer;
    font-style: normal;
    font-size: rem(50px);
    line-height: 1;
    pointer-events: all;
  }

  .arrow-left {
    // @include imageBg('../img/icons/arrow-left.svg', rem(30px), rem(30px));
  }

  .arrow-right {
    // @include imageBg('../img/icons/arrow-right.svg', rem(30px), rem(30px));
  }

}
