### WordPress ###
# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/license.txt
/readme.html
/xmlrpc.php
.DS_Store
backups*
/themes/depura_theme/frontend/webpack
# Configuration
wp-config.php
webtoffee_iew_log
webtoffee_import
# Example themes
/wp-content/themes/twenty*/

# htaccess
/.htaccess

# All plugins
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes

# ignore node dependency directories
node_modules/
.vscode
