.footer{
  background-color: $black;
  padding: space(2.5) 0 space(1);

  &, * {
    @extend %prox-report;
    color: $white;
    text-decoration: none;
  }

  &__top {
    display: flex;
    justify-content: center;
  }

  &__logo {
    @include imageBg('../img/icons/logo-footer.svg');
    @include square(rem(100px));
  }

  &__medium {
    padding: space(1) 0 space(2.5);

    & > * {
      display: flex;
    }
  }

  &__terms {
    justify-content: flex-end;
    padding-right: space(1) !important;
  }

  &__data-policy {
    padding-left: space(1) !important;
  }

  &__bottom {
    text-align: center;
  }

}
