.card-home {
  --bs-border-color-translucent: none;
  background-color: transparent !important;
  border-radius: 0!important;
  overflow: hidden;
  padding: 0 space(1);

  &__image {
    img {
      border-radius: 0 !important;
    }
  }

}
