.reports-news {
    overflow: hidden;
    position: relative;

    .container {
        position: relative;
    }

    &__decorated {
        @include imageBg('../img/icons/sheet_right.svg', rem(510px), rem(750px));
        position: absolute;
        right: space(-5);
        top: space(-5);
    }
}
