%h1, h1 {
  color: $black;
  font-family: $font-primary;
  font-size: rem(32px) !important;
  font-weight: 600;
  line-height: 1.5;

  @include from(m){
    font-size: rem(48px) !important;
  }
}

%h2, h2 {
  @extend %h1;
  font-size: rem(25px) !important;

  @include from(m){
    font-size: rem(40px)!important;
  }
}

%h3, h3 {
  @extend %h1;
  font-size: rem(22px) !important;

  @include from(m){
    font-size: rem(32px) !important;
  }
}

%body {
  font-family: $font-secondary;
  font-size: rem(15px) !important;
  font-weight: normal;
  line-height: 1.2;

  @include from(m){
    font-size: rem(16px) !important;
  }
}

%prox-report, .prox-report {
  @extend %body;
  font-family: $font-tertiary;
  font-size: rem(14px) !important;
  font-weight: bold;

  @include from(m){
    font-size: rem(16px) !important;
  }
}

%tag-report, .tag-report{
  @extend %body;
  font-size: rem(13px) !important;

  @include from(m){
    font-size: rem(14px) !important;
  }
}

p, ul:not(.root), ol:not(.root), div, a, strong, b{
  @extend %body;
}

a{
  font-size: rem(15px) !important;
}

strong, b {
  font-weight: bold;
}

