%h1, h1 {
  color: $black;
  font-family: $font-primary;
  font-size: rem(32px);
  font-weight: 600;
  line-height: 1.5;

  @include from(m){
    font-size: rem(48px);
  }
}

%h2, h2 {
  @extend %h1;
  font-size: rem(25px);

  @include from(m){
    font-size: rem(40px);
  }
}

%h3, h3 {
  @extend %h1;
  font-size: rem(22px);

  @include from(m){
    font-size: rem(32px);
  }
}

%body {
  font-family: $font-secondary;
  font-size: rem(15px);
  font-weight: normal;
  line-height: 1.3;

  @include from(m){
    font-size: rem(16px);
  }
}

%prox-report, .prox-report {
  @extend %body;
  font-family: $font-tertiary;
  font-size: rem(14px);
  font-weight: bold;

  @include from(m){
    font-size: rem(16px);
  }
}

%tag-report, .tag-report{
  @extend %body;
  font-size: rem(13px);

  @include from(m){
    font-size: rem(14px);
  }
}

p, ul:not(.root), ol:not(.root), div, a, strong, b{
  @extend %body;
}

a{
  font-size: rem(15px);
}

strong, b {
  font-weight: bold;
}





